.footer  {
    background-color: var(--very-dark-blue);
    padding: 2.5em 1em 4.5em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.logo-ft {
    width: 175px;
    margin-bottom: 2em;
}

.ul-menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-menu-footer {
    padding: .75em 0;
}

.menu-link-footer {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1.5em;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 2.25em;
    width: 40%;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        align-items: center;
        padding: 2.5em 1.75em 4.5em 1.75em;
    }

    .logo-ft {
        width: 230px;
    }

    .ul-menu-footer {
        text-align: center;
    }

    .menu-link-footer {
        font-size: 1.25em;
    }

    .social-media {
        width: 20%;
    }

    .logo-socialmedia {
        width: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .logo-ft {
        margin-top: 1em;
        width: 300px;
    }

    .menu-link-footer {
        font-size: 1.75em;
    }

    .logo-socialmedia {
        width: 40px;
        margin: 1.5em 0 2.5em 0;
    }
}