.main-content {
    text-align: center;
    padding: 1em 2.5em;
    margin-bottom: 3.5em;
}

.section-txt-content {
    line-height: 1.5em;
}

.section-title {
    margin: .9em 0;
}

.nav-contents {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
}

.content-title {
    font-weight: 500;
    padding: .75em;
    border-top: .125em solid var(--line-color);
    color: var(--main-color);
}

.content-title:hover {
    color: var(--very-dark-blue);
    cursor: pointer;
    border-bottom: .2em solid var(--soft-red);
}

.content-title:last-child {
    border-bottom: .125em solid var(--line-color);
}

.content-title:last-child:hover {
    border-bottom: .2em solid var(--soft-red);
}

.card-feature {
    margin-top: 2.75em;
}

.feature-title {
    color: var(--very-dark-blue);
    font-weight: 500;
    padding-top: 2.25em;
}

.feature-description {
    padding: 2em;
}

.more-info {
    margin: em 0;
    background-color: var(--soft-blue);
    padding: .5em 1.75em;
    border-radius: 5px;
    font-weight: 500;
    color: var(--color-btn)

}

.more-info:hover {
    background-color: var(--bg-color);
    color: var(--very-dark-blue);
    border: .15em solid var(--soft-blue);
}

.card-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-content {
        padding: 1.75em 2.5em;
    }

    .nav-contents {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .content-title {
        border-top: none;
        border-bottom: .125em solid var(--line-color);
        padding: 1.25em 2em;
    }

    .card-img {
        margin-right: 4.75em;
    }

    .card-feature {
        display: flex;
        text-align: start;
    }

    .card-hidden {
        display: none;
    }

    .section-txt-content {
        padding: 0 3.5em;
    }

    .feature-title {
        padding-top: 0;
    }

    .feature-description {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .main-content {
        padding: 1.75em 4.75em;
    }

    .content-title {
        font-size: 1.25em;
    }

    .feature-title {
        font-size: 1.5em;
    }

    .feature-description {
        font-size: 1.25em;
    }

    .section-txt-content {
        padding: 0 8.75em;
    }

    .more-info {
        font-size: 1.25em;
    }
}