@import url("./styles/header.css");
@import url("./styles/card-intro.css");
@import url("./styles/main-content.css");

:root {
--main-font: 'Rubik', sans-serif;

/* Primary */
--soft-blue: #5368df;
--soft-red: #fa5757;
--color-btn: #f5f5f5;

/* Neutral */
--grayish-blue: #9194a1;
--very-dark-blue: #252b46;
--line-color: #c2d0ae;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-size: .8em;
    font-weight: 400;
    box-sizing: border-box;
    color: var(--grayish-blue);
}

a {
    cursor: pointer;
}

.container {
    padding: 0 1.85em;
}

.red-btn {
    background-color: var(--soft-red);
    padding: .75em 1.75em;
    border-radius: 5px;
    font-weight: 500;
    color: var(--color-btn)
}

.blue-btn {
    background-color: var(--soft-blue);
    padding: .75em 1.75em;
    border-radius: 5px;
    font-weight: 500;
    color: var(--color-btn)
}

.blue-btn:hover {
    background-color: var(--color-hover);
    color: var(--very-dark-blue);
}

.image {
    width: 250px;
}

.section-title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--very-dark-blue);
}

@media screen and (min-width: 768px) {
    .container {
        padding: .5em 5em;
    }

    .image {
        width: 300px;
    }
}