@import url("./styles/card-intro.css");

:root {
--main-font: 'Rubik', sans-serif;

/* Primary */
--soft-blue: hsl(231, 69%, 60%);
--soft-red: hsl(0, 94%, 66%);

/* Neutral */
--grayish-blue: hsl(229, 8%, 60%);
--very-dark-blue: hsl(229, 31%, 21%);

}

body {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
}